

.post-header h3 {
    margin: 0;
    font-size: 20px;
    color: var(--text-color);

}



.post-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}


.comments-list {
    padding: 0;
}


